@charset "utf-8";

.ir{
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1px;
  color: transparent; /* 투명화 rgba(0,0,0,0)과 동일 */
}

.img-item{
  display: block;
}

body {
  background-color: #eae8fe;
}

#app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0 28px;
  padding-top: 248px;
  font-family: 'Noto Sans KR', sans-serif;
}

#app .vending-machine, #app .my-info {
  width: 360px;
  background-color: #fff;
  box-sizing: border-box;
}

#app .tit-app{
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 386px;
  height: 180px;
  background: no-repeat center / 100% 100% url(../images/Logo_img.png);
}

/* --------------- */
#app .vending-machine{
  position: relative;
  padding: 31px 27px 28px; 
}

.vending-machine .list-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.vending-machine .list-item li{
  position: relative;
  width: 30%;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.vending-machine .list-item li:active::before{
  display: block;
  position: absolute;
  content:'';
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  border: 3px solid #6327FE;
  border-radius: 10px;
  box-sizing: border-box;
}

.vending-machine .list-item li.sold-out::before{
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 10px;
  background: no-repeat center / 58px 45px url(../images/Sold-out.png) rgba(0, 0, 0, 0.8);
}

.vending-machine .list-item li.sold-out{
  pointer-events: none;
}

.vending-machine .list-item li:nth-child(3)~li{ /* 3번째부터 마지막까지 요소 선택 */
  margin-top: 12px;
}

.vending-machine .btn-item {
  display: block;
  width: 100%;
  height: 100%;
}

.vending-machine .list-item .img-item{
  width: 36px;
  height: 65px;
  margin: 0 auto;
}

.vending-machine .tit-item{
  display: block;
  font-size: 9px;
  margin: 7px 0;
}

.vending-machine .txt-price{
  display: inline-block;
  font-size: 12px;
  padding: 2px 12px;
  background: #6327FE;
  border-radius: 50px;
  color: #fff;
}

/* -------------- */

.vending-machine .cont-return, .vending-machine .cont-put, .vending-machine .cont-get{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.cont-return .info-balance, .cont-put .inp-put, .cont-get .list-item-staged{
  width: 65%;
  padding: 7px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.cont-return .btn-return, .cont-put .btn-put, .cont-get .btn-get{
  width: 30%;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.vending-machine .cont-return{
  margin-top: 20px;
}
.cont-return .info-balance{
  overflow: hidden;
  font-size: 14px;
  background-color: #eae8fe;
}

.info-balance .txt-balance{
  float: right;
}

.cont-put .inp-put{
  padding: 6px 6px 7px;
  border: 1px solid #bdbdbd;
}

.cont-get .btn-get{
  font-weight: 700;
  background-color: #6327FE;
  color: #fff;
}

.cont-get .list-item-staged{
  height: 106px;
  overflow-y: scroll;
  padding: 12px;
  border:  1px solid #bdbdbd;
  box-sizing: border-box;
  background-color: #eae8fe;
}

.list-item-staged li{
  overflow: hidden;
  padding: 6px 8px 7px 10px;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.list-item-staged li+li{
  margin-top: 6px;
}

.list-item-staged .img-item, .list-item-staged .txt-item{
  float: left;
}

.list-item-staged .img-item{
  width: 18px;
  height: 33px;
}

.list-item-staged .txt-item{
  margin-left: 10px;
  font-size: 9px;
  line-height: 33px;
}

.list-item-staged .num-counter{
  display: flex;
  float: right;
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

/* ------------ */

#app .my-info{
  background-color: #eae8fe;
}

.my-info .cont-mymoney{
  padding: 9px 27px;
  background-color: #fff;
}

.my-info .info-mymoney{
  padding: 6px 10px;
  line-height: 20px;
  background-color: #eae8fe;
  border-radius: 5px;
}

.info-mymoney .txt-mymoney{
  float: right;
  font-weight: 700;
}

.my-info .cont-myitems{
  margin-top: 20px;
  padding: 25px 27px 26px;
  background-color: #fff;
}

.cont-myitems .tit-myitem{
  display: block;
  margin-bottom: 13px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.cont-myitems .list-item-staged{
  overflow-y: scroll;
  height: 364px;
  padding: 12px 12px 0;
  background-color: #eae8fe;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
}

.cont-myitems .txt-total{
  display: block;
  text-align: right;
  margin-top: 6px;
  font-size: 12px;
}

@media only screen /* 너비가 320이상 480이하, 1px당 2개의 화소가 있어야함 */
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) 
{
  body{
    background-color: #fff;
  }
  #app{
    padding-top: 65px;
  }
  #app .tit-app{
    width: 166px;
    height: 70px;
  }
  .my-info .cont-myitems{
    margin-top: 0;
    padding: 31px 27px 32px;
  }
}